%form.new-store{ action: '/stores', method: 'post'}
  %label{ for: 'store[name]'} Store Name
  %input{ type: 'text', name: 'store[name]' }
  - @brands.each do |b|
    %input{ type: 'checkbox', name: 'brand[][id]', value: b.id } b.name
  %button.btn.btn-default{ type: 'submit' } Create Store
